button {
        background-color: #28a745;  
        color: white;
        border: none;
        padding: 10px 20px;
        border-radius: 5px;
        font-size: 1em;
        cursor: pointer;
        transition: background-color 0.3s;
    }
    
    button:hover {
        background-color: #218838;  
    }
    
    button a {
        color: white;  
        text-decoration: none;
    } 

    #payed-popup {
        display: none;
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: #fff;
        padding: 40px;
        border-radius: 10px;
        box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
        text-align: center;
        z-index: 1000;
        width: 80%; /* Ta upp halva bredden */
        max-width: 500px;
    }