header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    color: white;
    height: 40px;
    position: sticky;
    top: 1px;
    z-index: 50;
}

.header-icons{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 65px;

}

.user-icon,
.question-icon{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 23px;
    height: 23px;
}

.question-icon{
    margin-bottom: 3px;
    padding-top: 1px;
    -webkit-text-stroke: 1px black; /* font weight and color */
    background-color: white;
    color: black;
    border-radius: 50%;
}