header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    color: white;
    height: 40px;
}

.header-icons{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 65px;

}

.user-icon,
.question-icon{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 23px;
    height: 23px;
}

.question-icon{
    margin-bottom: 3px;
    padding-top: 1px;
    -webkit-text-stroke: 1px black; /* font weight and color */
    background-color: white;
    color: black;
    border-radius: 50%;
}

.image {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;

    /* Placeholder images, can be removed */
    background-image: url('https://media.istockphoto.com/id/1147544807/sv/vektor/ingen-miniatyr-bild-vektor-grafik.jpg?s=612x612&w=0&k=20&c=RWp5ECPYkIEO8J3zxyvsc4Lrf68NiLDybtPHix_QI1I='); 
    background-size: cover;   
    background-position: center;
}

.outer-container {
    display: flex;
    justify-content: center;
    padding-top: 50px;
    padding-bottom: 50px;
}

.container {
    max-width: 1100px;
    width: 100%;
    min-width: 300px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.item {
    position: relative;
    margin: 10px;
    height: 340px;
    max-width: 320px;
    width: 100%;
    padding: 10px;
    transition: transform 0.3s;
}

.item:hover {
    cursor: pointer;
    transform: scale(1.05);
}

/* Fill the whole screen when only 1 product wide */
@media (max-width: 680px) {
    .item {
        max-width: 500px;
    }
}