
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100%;
    width: 100%;
    font-family: 'Roboto', Arial, sans-serif;
}

a,
a:visited {
    text-decoration: none;
}

.box-shadow {
    box-shadow: rgba(0, 0, 0, 0.24) 1px 1px 8px;
}

.text-bold {
    font-weight: bold;
}

.text-no-wrap {
    white-space: nowrap;
}

.text-center {
    text-align: center;
}

.footer {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  
    background-color: #e9e9e9d0;
    color: rgb(12, 0, 0);
    padding: 2rem;
  
    width: 100%;
  }

  .footer ul {
    list-style: none;
  }

  .footer a {
    color: rgb(0, 0, 0);
  }
  
  .footer h2 {
    font-size: 2rem;
    font-weight: 900;
    text-transform: uppercase;
  
    margin: 2rem 0;
  }
  
  .footer-container {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    gap: 2rem;
  }
  
  .footer-container h3 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
  }
  
  .footer-container a {
    display: inline-block;
  }
  
  .footer-container a:hover {
    color: blue;
    text-decoration: underline;
  }
  
  .copy-right {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;
    margin-top: 2rem;
  }
  
  .copy-right ul {
    display: flex;
    gap: 1rem;
  }
  
  @media screen and (min-width: 768px) {
    .footer h2 {
      margin: 2.5rem 4.5rem;
    }
  
    .footer-container {
      flex-direction: row;
      margin: 2.5rem 4.5rem;
    }
  
    .copy-right {
      flex-direction: row;
      align-items: center;
      margin: 2.5rem 4.5rem;
    }
  }